$default-grey-color: #efefef;
$container-margin: 128px;
$container-width: 960px;
$container-height: $container-width;

body {
  background-color: $default-grey-color;
}

#root-container {

  margin: $container-margin;

  width: $container-width;
  height: $container-height;

  //background-color: red;
  background-color: transparent;
}

svg {
  background-color: gainsboro;
}
