$default-grey-color: #efefef;
$container-margin: 16px;
$container-width: 600px;
$container-height: $container-width;

body {
  background-color: $default-grey-color;
}

#root-container {

  margin: $container-margin;

  width: $container-width;
  height: $container-height;

  background-color: #ffffff;
  //background-color: transparent;
}

